.home {
	width: 100%;
	color: var(--primary);
	overflow: hidden;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--primary);
	color: #f0f0f0;
}

.about h1 {
	font-size: 5rem;
	margin: 1rem;
}

.about .prompt {
	margin: 1rem;
	width: 40%;
	font-size: 30px;
}

.prompt svg {
	font-size: 60px;
	margin: 5px;
	color: white;
}

.prompt a {
	margin: 1rem;
	padding: 1rem;
}
.prompt svg:hover {
	color: var(--secondary);
	transition: 0.2s linear;
}

.skills-container {
	padding: 0.5rem;
	background-color: var(--lighter);
}
.skills-container-h1 {
	width: 15%;
	position: relative;
	left: 42.5%;
	font-size: 4.5rem;
	color: white;
	animation: leftToRight 5s 1 ease-in-out;
}

.skills-images {
	font-size: 2rem;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--lighter);
}

.skills-images img {
	width: 14%;
}

.skills-images img:nth-child(n) {
	margin: 1rem;
}

.certificates-list {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--primary);
}

.certificates-list img {
	width: 20%;
	margin: 10px;
}

@keyframes leftToRight {
	0% {
		left: 0%;
	}
	25% {
		left: 85%;
	}
	50% {
		left: 25%;
	}
	75% {
		left: 60%;
	}
	100% {
		left: 42.5%;
	}
}

@media only screen and (max-width: 600px) {
	.about h1 {
		font-size: 40px;
	}

	.about .prompt {
		margin-top: 10px;
		font-size: 20px;
		width: 80%;
	}

	.skills {
		text-align: center;
	}
	.list {
		padding: 0;
	}

	.skills h2 {
		font-size: 30px;
	}
}
