.home {
	width: 100%;
	align-items: center;
	font-family: 'Oswald', sans-serif;
	color: var(--primary);
}

.about {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--primary);
	color: #f0f0f0;
}

.about h1 {
	font-family: 'Oswald', 'Helvetica', sans-serif;
	font-size: 60px;
	color: var(--orange);
	height: 50px;
}

.about .prompt {
	width: 40%;
	font-size: 30px;
}

.prompt img {
	width: 50%;
	margin: 2rem;
	border-radius: 40%;
}

.prompt svg {
	font-size: 60px;
	margin: 5px;
	color: white;
}

.prompt a {
	margin: 1rem;
	padding: 1rem;
}

.skills {
	font-size: 35px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.skills h1 {
	color: var(--primary);
}

.skills .list {
	list-style: none;
	width: 60%;
}

.list span {
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.about h2 {
		font-size: 40px;
	}

	.about .prompt {
		margin-top: 10px;
		font-size: 20px;
		width: 80%;
	}

	.skills {
		text-align: center;
	}
	.list {
		padding: 0;
	}

	.skills h2 {
		font-size: 30px;
	}
}
